# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\private\发利小程序\java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
